package $!{cfg.reqPackage};
#if(${swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${entityLombokModel})
import lombok.Data;
import lombok.experimental.Accessors;
#end
import ${cfg.basePackage}.BaseQueryVo;
#foreach($pkg in ${table.importPackages})
#if(${pkg.indexOf("baomidou")}==-1 && ${pkg.indexOf("BasePo")}==-1)
import ${pkg};
#end
#end
/**
 * <p>
 * $!{table.comment}
 * </p>
 * @author ${author}
 * @since 2022-04-10
 */
#if(${entityLombokModel})
@Data
@Accessors(chain = true)
#end
#if(${swagger2})
@ApiModel(value = "${entity}QueryReq对象" , description = "$!{table.comment}")
#end
public class ${entity}QueryReq extends BaseQueryVo {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
## ----------  忽略父类属性 begin  ----------
#set($hasSuperColumn=false)
#foreach($superColumn in ${cfg.superColumns})
#if($superColumn==${field.propertyName})
#set($hasSuperColumn=true)
#end
#end
## ----------  忽略父类属性 end  ----------
#if("$!field.comment" != "" && !${hasSuperColumn})
#if(${swagger2})
    /**
     * ${field.comment}
     */
    @ApiModelProperty(value = "${field.comment}")
#else
    /**
     * ${field.comment}
     */
#end
#end
#if(!${hasSuperColumn})
    private ${field.propertyType} ${field.propertyName};
#end
#end
## ----------  END 字段循环遍历  ----------
}